.banner {
  @include flexbox();
  @include flex-flow(column nowrap);
  
  &.picturefill-background {
    height: 170px;
  
    @include respond-to(tablet) {
      height: 338px;
    }
  
    @include respond-to(desktop) {
      height: 500px;
    }
  }
  
  .banner--inner {
    @include flexbox;
    @include justify-content(center);
    @include flex-flow(column nowrap);
    height: 100%;
    
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#050101+0,ffffff+100,ffffff+100&0.25+0,0+100 */
background: -moz-linear-gradient(top,  rgba(5,1,1,0.25) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(5,1,1,0.25) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(5,1,1,0.25) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */    
  }
}