.button-icon {
  @include inline-flex ();
  @include align-items(center);
  padding: rem_calc(5px) rem_calc(10px);
  font-family: $base-font-family;
  font-weight: bold;
  line-height: initial;
  background-color: #fff;
  border: $border-light;
  border-radius: $border-radius;
  @include card-shadow();

  &:before, &:after {
    font-family: FontAwesome;
    padding: 0 5px;
  }
}