.card--list-trips {
  @extend .card;
}

.card--list-trips--item {
  @include flexbox();
  padding: rem_calc($base-padding/2);
  border-bottom: $border;
}

.card--list-trips--image {
  @include flex(0 0 50px);
  max-width: 50px;
  
  img {
    @include circle-border(50px, white, 2px);
    @include card-shadow();
  }
}

.card--list-trips--details {
  @include flex(0 0 75%);
  max-width: 75%;
}