.card--guides-featured {
  @include flexbox();
  margin-bottom: rem_calc($base-margin *1.5);

  &:last-child {
    margin-bottom: rem_calc($base-margin/2);
  }
}

.card--guides-featured--item {
  @extend .card;
  @include flexbox();
  @include flex-flow(column);
  @include flex(0 1 100%);

  .home & {
    margin-bottom: 0;
  }
}

.card--guides-featured--title,
.card--guides-featured--content,
.card--guides-featured--action
{
  padding: 0 rem_calc($base-padding);
}

.card--guides-featured--image {
  position: relative;
}

.card--guides-featured--title {
  padding-top: rem_calc($base-padding);
}

.card--guides-featured--heading {
  font-family: $base-font-family;
  font-size: $font-size-lg;
  margin-bottom: 0;
}

.card--guides-featured--action {
  padding-bottom: rem_calc($base-padding);
  padding-top: 0;
  margin-top: auto;
  margin-bottom: 0;
}

.card--guides-featured--profile {
  position: absolute;
  bottom: $base-margin;
  left: $base-margin;
}

/**
  responsive
**/

@include respond-to(tablet) {
  .card--guides-featured {
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}