/**
  carousel - uses slick (http://kenwheeler.github.io/slick/)
**/

.cards--carousel {
  position: relative;
  margin-bottom: rem_calc($base-margin);
  padding-left: rem_calc($base-padding *1.5);
  padding-right: rem_calc($base-padding *1.5);
}

.cards--carousel--map-overlay {
  .slick-track {
    width: 100% !important;
  }

  .slick-slide {
    //add important to override slick carousel plugin js
    width: 100% !important;

    @include respond-to(tablet) {
      width: 50% !important;
    }

    @include respond-to(desktop) {
      width: 25% !important;
    }

    @include respond-to(desktop-large) {
      width: 16.666667% !important;
    }
  }

  .slick-dots {
    bottom: 0;
  }

  .cards--carousel--btn button:before {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .75);
  }
}

.cards--carousel--container {
  margin-left: -(rem_calc(5px));
  margin-right: -(rem_calc(5px));

  /*
  override slick styling
  */

  .slick-list {
    padding-bottom: 20px;
  }

  .slick-track {
    @include flexbox();
  }

  .slick-dots button {
    &:before {
      @include icon-font-fa($fa-var-circle-o, $font-size-md);
      color: $color-teal !important;
      opacity: 1 !important;
    }
  }

  .slick-dots .slick-active button {
    &:before {
      @include icon-font-fa($fa-var-circle, $font-size-md);
      color: $color-teal !important;
      opacity: 1 !important;
    }
  }
}

.cards--carousel--slide {
  @include flex-basis(auto);
  padding-left: rem_calc(5px);
  padding-right: rem_calc(5px);

  /*
  override slick styling
  */
  @include flexbox(true);
  @include flex-direction(row);

  &.slick-slide {
    height: auto;
  }
}

.cards--carousel--btn {

  /*
  override slick styling
  */

  .slick-arrow {
    padding: 0 2px;
    width: 28px;
    height: 28px;
  }

  *[class^="slick-next"] {
    @include center-vertically();
    right: 0;
    font-size: 0;
    line-height: 0;

    &:before {
      @include icon-font-fa($fa-var-chevron-right, 2rem, $color-teal);
      @include text-shadow();
    }
  }

  *[class^="slick-prev"] {
    @include center-vertically();
    left: 0;
    font-size: 0;
    line-height: 0;

    &:before {
      @include icon-font-fa($fa-var-chevron-left, 2rem, $color-teal);
      @include text-shadow();
    }
  }
}