.cards {
  margin-bottom: rem_calc($base-margin);

  @include respond-to(tablet) {
    margin-bottom: rem_calc($base-margin *2);
  }
}

.cards--heading {
  @include flexbox();
  @include align-items(center);
}

.cards--title {
  font-size: $font-size-md-lg;
  margin-top: rem_calc($base-margin);
}