.card--location {
  @extend .card;
  position: relative;
  width: 100%;
  padding: rem_calc($base-padding /2);
  background: white;

  ul {
    margin: 0;
  }
}

.card--location--title {
  color: $color-teal;
  font-size: $font-size-md;
  font-weight: bold;
  width: 80%;

  a {
    color: $color-teal;
  }
}

.card--location--address {
  font-size: $font-size-xs;

  .cards--carousel--map-overlay & {
    width: 78%;
  }
}

.card--location--icon-bar {
  display: inline-block;
  width: auto;
  margin-top: rem_calc($base-margin /4);
  font-size: $font-size-xs;
  border: 1px solid rgba($color-dark-blue, .3);

  i {
    border-right: 1px solid rgba($color-dark-blue, .3);
    padding: rem_calc(5px);

    &:last-child {
      border-right: none;
    }
  }
}

.card--location--rating {
  position: absolute;
  top: $base-margin/2;
  right: $base-margin/2;
}