.card {
  border: $border-light;
  @include card-shadow();
  margin-bottom: rem_calc($base-margin);
  background: white;
  border-radius: $border-radius;

  @include respond-to(desktop) {
     margin-bottom: rem_calc($base-margin/2);
  }
}
