.card--city {
  margin-bottom: rem_calc($base-margin *2);

  &:last-child {
    margin-bottom: 0;
  }
}

.card--city--container {
  @include flexbox();
  @include flex-flow(column);
  @include justify-content(center);
  @include align-items(center);
  position: relative;
}

.card--city--image {
  overflow: hidden;
}

.card--city--title {
  @include center-vertically(50%, -50%, absolute);
  width: 100%;
  text-align: center;
  color: white;

  * {
    margin-bottom: 0;
    color: white;
  }
}

/**
  responsive
**/

@include respond-to(tablet) {
  .card--city {
    margin-bottom: 0;
  }

  .card--city.primary-content {
    margin-bottom: rem_calc($base-margin *2);
  }

  .card--city--container {
    height: 196px;
  }
}

@include respond-to(desktop) {
  .card--city--image {
    height: auto;
  }

  .primary-content .card--city--image {
    height: 350px;
  }
}