.card--location {
  @extend .card;
  position: relative;
  width: 100%;
  padding: rem_calc($base-padding);
  background: white;

  ul {
    margin: 0;
  }
}

.card--location--title {
  color: $color-teal;
  font-size: $font-size-sm;

  a {
    color: $color-teal;
  }
}

.card--location--address {
  font-size: $font-size-sm;

  .cards--carousel--map-overlay & {
    width: 58%;
  }
}

.card--location--icon-bar {
  font-size: $font-size-sm;
  border: 1px solid rgba($color-dark-blue, .3);
  width: auto;

  i {
    border-right: 1px solid rgba($color-dark-blue, .3);
    padding: rem_calc(5px);

    &:last-child {
      border-right: none;
    }
  }
}

.card--location--rating {
  position: absolute;
  top: $base-margin/2;
  right: $base-margin/2;
}