.footer {
  margin-top: rem_calc($base-margin *2);
  padding: rem_calc($base-padding/2) rem_calc($base-padding/2) rem_calc($base-padding);
  background: $color-dark-blue;
}

.credits {
  color: white;
  font-size: rem_calc($font-size-sm);
  
  a {
    color: white;
  }
}