.header {
  background: $color-teal;
  padding: $base-padding 0;
  color: white;
  
  a {
    color: white;
  }
}

.header--contents {
  @include align-items(center);
  @include justify-content(flex-start);
  margin-left: map-get($grid-column-gutter, small); //small gutter from _settings.scss in foundation
}

/**
  responsive
**/

@include respond-to(tablet) {
  .header--contents {
    margin: 0;
    max-width: none;
    width: 100%;
    flex: 0 0 100%;
  }
}
