.header {
  @include flexbox();
  @include align-items(center);
  @include justify-content(space-between);
  height: 77px;
  padding: 0;
  background: $color-teal;
  color: white;

  a {
    color: white;
  }
}

.header--contents {
  @include align-items(center);
  @include justify-content(flex-start);
  width: 100%;
  @include flex(0 0 100%);
  margin: auto;
}

.header--wrapper {
  @include flexbox();
}

/**
  responsive
**/

@include respond-to(desktop-large) {
  .header--contents {
    width: rem_calc(map-get($breakpoints, xlarge));
    @include flex(0 0 rem_calc(map-get($breakpoints, xlarge)));

    //full width for map page
    .tax-city & {
      max-width: none;
      width: 100%;
      @include flex(0 0 100%);
    }
  }
}

@include respond-to(desktop-xlarge) {
  .header--contents {
    width: rem_calc(map-get($breakpoints, xxlarge));
    @include flex(0 0 rem_calc(map-get($breakpoints, xxlarge)));
  }
}