.list--review{}

.list--review--item {
  @include flexbox();
  @include flex-wrap(wrap);
  padding: rem_calc($base-padding /2) 0;
  border-bottom: $border;

  &:last-child {
    border-bottom: none;
  }

  @include respond-to(desktop) {
    @include flex-wrap(nowrap);
  }
}

.list--review--image, .list--review--meta, .list--review--desc {
  padding-left: rem_calc($base-padding /2);
  padding-right: rem_calc($base-padding /2);
}

.list--review--image {
  @include flex(0 0 24%);

  @include respond-to(desktop) {
    @include flex(1 0 auto);
  }
}

.list--review--meta {
  @include flex-grow(1);
  padding-bottom: rem_calc($base-padding /2);

  @include respond-to(desktop) {
    @include flex(1 0 auto);
  }
}

.list--review--desc {
  @include flex(0 0 100%);
  font-size: $font-size-sm;

  @include respond-to(tablet) {
    @include flex(1 1 auto);
  }
}


.list--review-likes {
  margin-top: rem_calc($base-padding /2);
}
