.logo--header {
  display: block;
  line-height: 1rem;

  svg {
    max-width: 65%;
  }
}

#logo {
  margin-bottom: 0;

  & h1 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }
}

@include respond-to(tablet) {
  .logo--header {
    svg {
      max-width: none;
      width: 100%;
    }
  }
}

@include respond-to(desktop) {
  .logo--header {
    padding-right: rem_calc(100px);
  }
}