.map-overlay-list {
  position: absolute;
  max-width: 100%;
  margin: auto;
  left: 0;
  bottom: rem_calc($base-padding);
  z-index: 99999;
}

.map-overlay-list--slides {
  @include flexbox();

  li {
    list-style-type: none;
    margin-right: rem_calc(10px);
  }
}

@include respond-to(tablet) {
  .map-overlay-list {
    padding: rem_calc($base-padding);
  }

  .map-overlay-list--slides {
    li {
      margin-right: rem_calc(40px);
    }
  }
}