.nav--off-canvas {
  .off-canvas.position-left {
      left: -300px;
      width: 300px; //width of slide in(must match .is-open-left)
  }
  
  .off-canvas-left {
    .header--off-canvas {
      @include flexbox();
      @include align-content(center);
      padding: $base-padding/2;
      
      a {
        display: block;
        padding: 2px 0 0;
        line-height: 0;
        font-size: 0;
      }
            
      svg {
        width: 100%;
      }
      
      .close-button {
        position: static;
        padding: 0;
        color: white;
        font-size: 3.5rem;
        line-height: 0;
        text-align: right;
      }
    }
  }
  
  .menu {
    @include flex-flow(column nowrap);
    @include align-items(flex-start);
    margin-top: $base-margin;
  }
  
  .menu-user, .menu {
    color: $color-blue;
    
    a {
      color: $color-blue;
      font-size: $base-font-size;
    }
  }
  
  .menu--logged-in-items, .menu {
    padding: 0 $base-padding/4;
    
    li {
      width: 100%;
      padding-bottom: $base-padding/2;
      margin-bottom: $base-margin/2;
      border-bottom: $border;
      
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.js-off-canvas-exit {
  box-shadow: inset 10px 0px 5px -5px rgba(0,0,0,0.1);
  background: rgba(0, 0, 0, .25);
}

.is-open-left {
  @include transform(translateX(300px));
  
  .nav--off-canvas {
    @include flexbox();
    
    .off-canvas {
      height: 100%;
      background-color: transparent;
    }
  }
}