@include respond-to(tablet) {
  .nav--logged-in {
    width: 100%;
    @include flex(0 0 100%);
    margin-left: auto;
    margin-right: 0;
    
    .profile {
      @include justify-content(flex-end);
      margin: 0;
      
      button {
        margin-bottom: 0;
      }
    }
    
    .profile-name {
      @include flex(0 0 auto);
      width: auto;
    }
    
    .profile-name-link:after {
      @include icon-font-fa($fa-var-caret-down, $font-size-sm);
      padding-left: $base-padding/4;
    }
    
    .menu--logged-in-items {
      padding: $base-padding $base-padding 0;
    }
  }
}