.nav--off-canvas {
  .off-canvas.position-left {
      left: -300px;
      width: 300px; //width of slide in(must match .is-open-left)
  }
  
  .off-canvas-left {
    .header--off-canvas {
      @include flexbox();
      @include align-content(center);
      padding: $base-padding/2;
      
      a {
        display: block;
        padding: 2px 0 0;
        line-height: 0;
        font-size: 0;
      }
            
      svg {
        width: 100%;
      }
      
      .close-button {
        position: static;
        padding: 0;
        color: white;
        font-size: 3.5rem;
        line-height: 0;
        text-align: right;
      }
    }
  }
  
  .menu-user {
    color: $color-blue;
  }
}

.js-off-canvas-exit {
  box-shadow: inset 10px 0px 5px -5px rgba(0,0,0,0.1);
  background: rgba(0, 0, 0, .25);
}

.is-open-left {
  @include transform(translateX(300px));
  
  .nav--off-canvas {
    @include flexbox();
    
    .off-canvas {
      height: 100%;
      background-color: transparent;
    }
  }
}