/*
.nav--footer {
}
*/

.menu--footer {
  @include flexbox();
  @include flex-flow(column wrap);
  @include justify-content(space-between);
  margin: 0;
  font-size: rem_calc($font-size-sm);
  
  @include respond-to(tablet) {
    @include flex-flow(row wrap);
  }
  
  a {
    color: white;
    font-weight: bold;
    
    @include respond-to(tablet) {
      font-weight: normal;
    }
  }
  
  > li {
    white-space: nowrap; 
  }
  
  > li:first-child {
    padding-left: 0;
  }
  
  > li:last-child {
    border-right: none;
  }
}