.nav--main {
  display: none;
  margin-left: auto;
  margin-right: 0;
}

nav {
  ul {
    margin: 0;
  }
}

/**
  responsive
**/

@include respond-to(tablet) {
  .nav--main {
    @include flexbox();
    @include align-items(center);
    @include flex(0 1 auto);

    .menu-header .menu {
      @include flexbox();
      @include justify-content(flex-end);
    }
  }
}