.nav--itinerary {
  padding: rem_calc($base-padding/2) 0 0;
}

.menu--itinerary {
  margin: 0;
}

@include respond-to(tablet) {
  .menu--itinerary {
    @include flexbox();
    
    > li {
      width: 25%;
      font-weight: bold;
      text-align: center;
    }
    
    > li a {
      display: block;
      padding-bottom: $base-padding/4;
    }
    
    .current-menu-item {
      border-bottom: solid 3px $color-blue;
    }
  }
  
  
}
