.profile {
  @include flexbox();
  @include align-items(center);
  margin: $base-margin/2 0 $base-margin;
  padding: 0 $base-padding/4;
}

.profile--avatar {
  float: left;
  @include flex(0 0 50px);
  width: 50px;
  
  img {
    @include circle-border(50px, white, 2px);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
  }
}

.profile--name {
  float: left;
  @include flex(0 0 220px);
  width: 220px;
  padding: 0 $base-padding/2 4px;
}

.profile--name--white {
  @extend .profile--name;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
}

/**
  responsive
**/

@include respond-to(tablet) {
  .profile {
    @include justify-content(flex-end);
    margin: 0;
  
    button {
      margin-bottom: 0;
    }
  }

  .profile--name {
    @include flex(0 0 auto);
    width: auto;
  }

  .profile--name--link:after {
    @include icon-font-fa($fa-var-caret-down, $font-size-sm);
    padding-left: $base-padding/4;
  }

  .menu--logged-in-items {
    padding: $base-padding $base-padding 0;
  }
}