.profile {
  @include flexbox();
  @include align-items(center);
  margin: $base-margin/2 0 $base-margin;
  padding: 0 $base-padding/4;
}

.profile--avatar {
  img {
    @include circle-border(50px, white, 2px);
    @include card-shadow();
  }
}

.profile--name {
  padding: 0 $base-padding/2 4px;
}

.profile--name--white {
  @extend .profile--name;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
}

.profile--city {
  text-align: center;
  font-size: $font-size-sm;
  
  p {
    &:before {
      @include icon-font-fa($fa-var-map-marker, $font-size-md, $color-teal);
      padding-right: rem_calc($base-padding/2);
    }
  }
}

.profile--desc {
  font-size: $font-size-sm;
  padding: 0 rem_calc($base-padding/2);
}

.profile--edit-link {
  margin-top: $base-margin;
  text-align: center;
}

/**
  responsive
**/

@include respond-to(tablet) {
  .profile {
    @include justify-content(flex-end);
    margin: 0;
  
    button {
      margin-bottom: 0;
    }
  }

  .profile--name {
    @include flex(0 0 auto);
    width: auto;
  }

  .profile--name--link:after {
    @include icon-font-fa($fa-var-caret-down, $font-size-sm, white);
    padding-left: $base-padding/4;
  }

  .menu--logged-in-items {
    padding: $base-padding $base-padding 0;
  }
}