/**
    Form Styling
    **/

input[type=text],
input[type=email],
input[type=datetime],
input[type=datetime-local],
input[type=search],
input[type=url] {
    padding: $base-margin/4 $base-margin/2;
    border-radius: $border-radius;
    &.outline {
        background: transparent;
        border: 1px solid white;
        color: white;
    }
    &:focus {
        outline: 0;
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
button,
.button
input[type=button],
input[type=submit],
input[type=reset] {
    padding: $base-margin/4 $base-margin/2;
    font-size: $font-size-md-lg;
    border: none;

    &:focus {
        outline: 0;
    }
}

.button-pill {
    @extend .button;
    padding: 2px;
}

.form-item {
    margin: $base-margin 0;
}

//validation
label.required:after {
    width: 5px;
    height: 5px;
    content: "*";
    color: red;
}