/* 
    * Grid for non flexbox environments i.e. IE 9-     
    * fluid 12 col grid widths
    * classes for spacing and positioning
*/
.grid {
  float: left;
  padding-top: 0;
}

.grid-right {
  float: right;
  margin-bottom: $grid-margin;
  padding-top: 0;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11 {
  margin-right: $grid-margin;
}

.col-1 {
  width: 6.382978723404%;
}

.col-2 {
  width: 14.893617021277%;
}

.col-3 {
  width: 23.404255319149%;
}

.col-4 {
  width: 31.914893617021%;
}

.col-5 {
  width: 40.425531914894%;
}

.col-6 {
  width: 48.936170212766%;
}

.col-7 {
  width: 57.446808510638%;
}

.col-8 {
  width: 65.957446808511%;
}

.col-9 {
  width: 74.468085106383%;
}

.col-10 {
  width: 82.978723404255%;
}

.col-11 {
  width: 91.489361702128%;
}

.col-12 {
  width: 100%;
}

.clearfix {
  &:after { 
     content: "."; 
     visibility: hidden; 
     display: block; 
     height: 0; 
     clear: both;
  }
}
/*
    Flexbox classes
*/
.flex {
    @include flexbox();
    @include flex-wrap(wrap);

    &.flex-2 > * {
        @include flex(0 0 ($col2));
    }

    &.flex-3 > * {
        @include flex(0 0 $col3);
    }

    &.flex-4 > * {
        @include flex(0 0 $col4);
    }

    &.flex-6 > * {
        @include flex(0 0 $col6);
    }

    &.justify-center {
        @include justify-content(center);
    }

    &.justify-space-between {
        @include justify-content(space-between);
    }

    &.justify-space-around {
        @include justify-content(space-around);
    }

    &.justify-flex-start {
        @include justify-content(flex-start);
    }

    &.justify-flex-end {
        @include justify-content(flex-end);
    }

    &.align-center {
        @include align-items(center);
    }

    &.align-flex-end {
        @include align-items(flex-end);
    }

    &.align-stretch {
        @include align-items(stretch);
    }

    &.align-baseline {
        @include align-items(baseline);
    }

    &.wrap {
        @include flex-wrap(wrap);
    }

    &.nowrap {
        @include flex-wrap(nowrap);
    }
}

/*
Framework classes
- to be used to @extend or create inline styles for content.
*/

.fit {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.padding-top {
  padding-top: $base-padding !important;
}

.padding-bottom {
  padding-bottom: $base-padding !important;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-x {
  padding-left: 0;
  padding-right: 0;
}

.no-padding-y {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-all {
  padding: $base-padding !important;
}

.padding-vertical, .padding-y {
  padding-top: $base-padding !important;
  padding-bottom: $base-padding !important;
}

.padding-horizontal, .padding-x {
  padding-left: $base-padding !important;
  padding-right: $base-padding !important;
}

.margin-vertical, .margin-y {
  margin-top: $base-margin !important;
  margin-bottom: $base-margin !important;
}

.margin-horizontal, .margin-x {
  margin-left: $base-margin !important;
  margin-right: $base-margin !important;
}

.margin-top {
  margin-top: $base-margin !important;
}

.margin-bottom {
  margin-bottom: $base-margin !important;
}

.margin-right {
  margin-right: $base-margin !important;
}

.margin-left {
  margin-left: $base-margin !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-x {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.no-margin-y {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.margin-all {
  margin: $base-margin !important;
}

.margin-center {
	margin-left: auto;
	margin-right: auto;
}

.margin-center-strict {
	margin: 0 auto;
}

.vertical-center {
  @include center-vertically();
}

/*positioning*/

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.left {
    float: left;
}

.left-force {
    float: left !important;
  left: 0 !important;
  right: auto !important;
}

.right {
    float: right;
}

.right-force {
    float: right !important;
  right: 0 !important;
  left: auto !important;
}

.no-float {
    float: none !important;
}

.omega {
    margin-right: 0; //last element
}

.alpha {
    clear: both; //first element
}

.next-line {
    clear: both !important;
}

.inline {
    display: inline !important;
}

.inline-block {
    display: inline-block !important;
}

.block {
    display: block !important;
}

.fix-collapsed {
  overflow: hidden;
}

.clearfix {
  @extend .clearfix;
}

.clear {
    clear: both;
}

//hide and show media queries
@include respond-to(mobile-tablet) {
    .show-mobile-tablet {
        display: block;
    }

    .hide-mobile-tablet {
        display: none;
    }
}

@include respond-to(mobile) {
    .show-mobile {
        display: block;
    }

    .hide-mobile {
        display: none;
    }
}

@include respond-to(tablet-desktop) {
    .show-tablet-desktop {
        display: block;
    }

    .hide-tablet-desktop {
        display: none;
    }
}

@include respond-to(tablet) {
    .show-tablet {
        display: block;
    }

    .hide-tablet {
        display: none;
    }
}

@include respond-to(desktop) {
    .show-desktop {
        display: block;
    }

    .hide-desktop {
        display: none;
    }
}

@include respond-to(desktop-medium-only) {
    .show-desktop-md-only {
        display: block;
    }

    .hide-desktop-md-only {
        display: none;
    }
}

@include respond-to(desktop-large) {
    .show-desktop-lg {
        display: block;
    }

    .hide-desktop-lg {
        display: none;
    }
}