/**
    Custom mixins (functions)
    **/

//ie compatibility
@mixin ie($version) {
    /* IE10-specific styles go here */
    @if $version == ie10 {
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            @content;
        }
    }
    /* IE9 and IE10 rule sets go here */
    @else if $version == ie9-10 {
        @media screen and (min-width:0\0) {
            @content;
        }
    }
    /* <= IE9 or browsers that dont support flexbox */
    @else if $version == ie9 {
        .no-flexbox {
            @content;
        }
    }

    @else if $version == edge {
        _:-ms-fullscreen, :root {
            @content;
        }
    }
}

/* border radius */
@mixin border-curve($tl, $tr: $tl, $br: $tl, $bl: $tl) {
    -webkit-border-top-left-radius: $tl;
    -webkit-border-top-right-radius: $tr;
    -webkit-border-bottom-right-radius: $br;
    -webkit-border-bottom-left-radius: $bl;
    -moz-border-radius-topleft: $tl;
    -moz-border-radius-topright: $tr;
    -moz-border-radius-bottomright: $br;
    -moz-border-radius-bottomleft: $bl;
    border-top-left-radius: $tl;
    border-top-right-radius: $tr;
    border-bottom-right-radius: $br;
    border-bottom-left-radius: $bl;
}

/* icon font */

@mixin icon-font-fa($glyph, $fsize: inherit, $color: $color-dark-blue) {
    display: inline-block;
    content: $glyph;
    color: $color;
    font-family: 'FontAwesome';
    font-size: $fsize;
    font-style: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* center content vertically */
@mixin center-vertically( $top: 50%, $translateY: -50%, $position: relative ) {
    position: $position;
    top: $top;
    -moz-transform: translateY( $translateY );
    -ms-transform: translateY( $translateY );
    -webkit-transform: translateY( $translateY );
    transform: translateY( $translateY );
}

@mixin center-horizontally( $left: 50%, $translateX: -50%, $position: relative ) {
    position: $position;
    left: $left;
    -moz-transform: translateY( $translateX );
    -ms-transform: translateY( $translateX );
    -webkit-transform: translateY( $translateX );
    transform: translateY( $translateX );
}

@mixin outline($color: white, $thickness: 1px, $line: solid, $keep-bg: no) {
    border: $thickness $line $color;
    color: $color;

    @if $keep-bg == no {
        background-color: none;
    }

    &:hover {
        color: white;
        border-color: initial;
        background-color: $color;
        opacity: 1;
    }
}

@mixin solid($bg: $charcoal, $text: white, $border: no, $border-color: $bg, $thickness: 0, $line: solid) {
    background: $bg;
    color: $text;

    @if $border == yes {
        border: $border-color $thickness $line;
    }
}

@mixin border($color: $jet, $thickness: 1px, $type: solid) {
    border: $color $thickness $type;
}

@mixin card-shadow() {
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.1);
}

@mixin circle-border($size: 10px, $color: white, $bsize: 1px, $fsize: 1rem) {
    @include border-curve(50%);
    display: inline-block;
    width: $size;
    height: $size;
    border: $bsize solid $color;
    text-align: center;

    > * {
        font-size: $fsize;
        line-height: 1rem;
        @include center-vertically();
    }
}

@mixin heading-font($size: $font-size-xxl, $color: $jet) {
    @extend %heading-font;
    font-size: $size;
    letter-spacing: .5px;
    text-shadow: none;
}

@mixin base-font($size: $base-font-size, $color: $jet) {
    font-family: $base-font-family;
    font-size: $size;
    color: $color;
    text-transform: none;
    letter-spacing: normal;
}

@mixin diamond( $w, $h, $color ) {
    width: $w;
    height: $h;
    background: $color;
    /* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

@mixin diamond-narrow( $w, $h, $color ) {
    width: 0;
    height: 0;
    border: $h solid transparent;
    border-bottom: $w solid $color;
    position: relative;
    top: -$h;

    &:after {
        content: '';
        position: absolute;
        left: -$h;
        top: $w;
        width: 0;
        height: 0;
        border: $h solid transparent;
        border-top: $w solid $color;
    }

    ;
}

/** css transitions **/
@mixin rotate($degrees...) {
    -webkit-transform: rotate($degrees);
    -moz-transform: rotate($degrees);
    -ms-transform: rotate($degrees);
    -o-transform: rotate($degrees);
    transform: rotate($degrees);
}

@mixin transform-origin($origin...) {
    -moz-transform-origin: $origin;
    -webkit-transform-origin: $origin;
    -ms-transform-origin: $origin;
    -o-transform-origin: $origin;
    transform-origin: $origin;
}

@mixin transform($transform...) {
    -moz-transform: $transform;
    -webkit-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    -ms-transition: $transition;
    transition: $transition;
}

@mixin transition-property($property...) {
    -moz-transition-property: $property;
    -o-transition-property: $property;
    -webkit-transition-property: $property;
    transition-property: $property;
}

@mixin padding-x($padding: $base-padding) {
    padding-left: $padding;
    padding-right: $padding;
}

@mixin margin-x($margin: $base-margin) {
    margin-left: $margin;
    margin-right: $margin;
}

@mixin remove-appearance() {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';

    &::-ms-expand {
        display: none;
    }
}

//overlay cta boxes
@mixin overlay-items() {
    .image {
        background: black;

        img {
            opacity: .7;
        }

        &:hover {
            background: none;

            img {
                opacity: 1;
            }
        }

        &:focus {
            img {
                opacity: .9;
            }
        }
    }

    .title {
        @include center-vertically(50%, -50%, absolute);
        width: 100%;
        padding: $base-padding/2;
        color: white;

        h3, a {
            margin: 0;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
            color: white;
        }

        span {
            font-size: inherit;
        }
    }
}

//media queries for specific elements
@mixin mq-items() {
    @include respond-to(mobile-tablet) {
        margin-top: 0;
        @include flex-wrap(wrap);

        .item, .box {
            margin: $grid-margin 0;
        }

        .title {
            width: 100%;
            padding: $base-padding/2;

            h3 {
                margin: 0;
                font-size: $font-size-md-lg;
            }

            h4 {
                margin-bottom: 0;
                font-size: $font-size-sm;
            }

            span {
                font-size: inherit;
            }
        }
    }

    @include respond-to(tablet) {
        @include justify-content(space-around);

        &.items, &.boxes {
            .item, .box {
                margin-right: 0;
            }
        }

        &.flex-6 {
            .title {
                h3 {
                    font-size: $font-size-xl;
                }

                h4 {
                    margin-bottom: 0;
                    font-size: $font-size-sm;
                }
            }
        }
    }
}
