/**
    AMA Theme
    **/

//main site colors
$color-blue: #418aca; //main-buttons, etc
$color-dark-blue: #2b3e50; //dark blue in footer
$color-teal: #4db6ac; //teal color in header
$color-green: #27ad60;
$color-red: #e95a4a;
$color-orange: #e67d21;

//hovers
$color-blue-hover: darken($color-blue, 20);
$color-dark-blue-hover: darken($color-dark-blue, 20);
$color-teal-hover: darken($color-teal, 20);
$color-green-hover: darken($color-green, 20);

//greys
$ash:                     #f7f7f7;
$stone:                   #eaeaea;
$smoke:                   #cccccc; 
$grey:                    #bababa;
$slate:                   #838383;
$charcoal:                #656565;
$jet:                     #323232;

//styles
$color-black: $jet;
$border-radius: 3px;
$border: 1px solid $smoke;

//bg classes
.color-black, .bg-black { background-color: $jet; color: white }
.color-blue, .bg-blue { background-color: $color-blue; color: white; }
.color-teal { background-color: $color-teal; color: white; }
.grey-ash { background-color: $ash; color: $jet; }
.grey-stone { background-color: $stone; color: $jet}
.grey-smoke { background-color: $smoke; color: $jet }
.grey-slate { background-color: $slate; color: white; }
.grey-charcoal { background-color: $charcoal; color: white; }
.grey-jet { background-color: $jet; color: white; }
.green { background-color: $color-green; color: white; }

.cta {
    &.color-blue {
        &:hover {
            opacity: .8;
            background: $color-blue-hover;
            color: white;
        }
    }
}

//text classes
.text-teal { color: $color-teal; }
.text-blue { color: $color-blue; }
.text-dark-blue { color: $color-dark-blue; }
.text-grean { color: $color-green; }
.text-red { color: $color-red; }
.text-orange { color: $color-orange; }
.text-black { color: $jet; }
.text-white { color: white; }
.text-grey { color: $charcoal; }