.breadcrumb {
  width: 100%;
  margin: 0 0 $base-margin/2 0;
}

.breadcrumb--item {
  color: $color-dark-blue;

  a {
    color: $color-blue;
  }
}

.breadcrumb--divider {
  color: $color-dark-blue;
}