/**
  carousel - uses slick (http://kenwheeler.github.io/slick/)
**/

.cards--carousel {
    position: relative;
    margin-bottom: rem_calc($base-margin);

    /*   padding-left: rem_calc($base-padding *1.5);
      padding-right: rem_calc($base-padding *1.5); */
}

.cards--carousel--map-overlay.slick-slider {
    @include flexbox;
    @include justify-content(center);
    @include flex-flow(row wrap);

    .slick-list {
        @include flex(0 0 90%);

        margin: 0 auto;
    }

    .slick-arrow {
        @include flex(0 0 5%);
    }

    .slick-track {        
        @include flexbox();
        height: 100%;
    }

    .slick-dots {
        @include flex(0 0 100%);

        bottom: 0;
    }

    .slick-slide {
        //add important to override slick carousel plugin js
        @include flexbox();
        width: 100%;
        height: 100%;

        &:focus {
            outline: none;
        }

        @include respond-to(tablet) {
            width: auto;
        }


    /* @include respond-to(desktop) {
      width: 25% !important;
    }

    @include respond-to(desktop-large) {
      width: 16.666667%;
    } */
    }

    .cards--carousel--btn button:before {
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
    }
}

.cards--carousel--container {
  @include flexbox();
  width: 100%;
  padding: rem_calc($base-padding /4);
}

.cards--carousel--slide {
    @include flex-basis(auto);

    padding-left: rem_calc(5px);
    padding-right: rem_calc(5px);

    /*
    override slick styling
    */
    @include flexbox(true);
    @include flex-direction(row);

    &.slick-slide {
        height: auto;
    }
}

.cards--carousel--indicator {
    display: inline;
    width: auto;
}

/*
override slick styling
*/
.cards--carousel {
    .slick-list {
        padding-bottom: 20px;
    }

    .slick-track {
        @include flexbox;
    }

    /*
    dots
    */
    .slick-dots button {
        &:before {
            @include icon-font-fa($fa-var-circle-o, $font-size-md);

            color: $color-teal !important;
            opacity: 1 !important;
        }
    }

    .slick-dots .slick-active button {
        &:before {
            @include icon-font-fa($fa-var-circle, $font-size-md);

            color: $color-teal !important;
            opacity: 1 !important;
        }
    }

    /*
    buttons
    */
    .slick-arrow {
        padding: 0 2px;
        width: 28px;
        height: 28px;
    }

    .slick-next {
        @include center-vertically;

        right: 0;
        font-size: 0;
        line-height: 0;

        &:before {
            @include icon-font-fa($fa-var-chevron-right, 2rem, $color-teal);
            @include text-shadow;
        }
    }

    .slick-prev {
        @include center-vertically;

        left: 0;
        font-size: 0;
        line-height: 0;

        &:before {
            @include icon-font-fa($fa-var-chevron-left, 2rem, $color-teal);
            @include text-shadow;
        }
    }
}
